:root {
  --primary-text-color: #212121;
  --paragraph-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --logo-color: #000000;
  --footer-backgroung-color: #2f303a;
  --address-link: rgba(255, 255, 255, 0.6);
  --studio-background-color: #f5f4fa;
  --title-backroung-color: #c4c4c4;
  --portfolio-item-border: #eeeeee;
  --item-backgroung-color: #f5f4fa;
  --icon-primary-color: #afb1b8;
  --social-item-footer: rgba(255, 255, 255, 0.1);
  --footer-label-color: rgba(255, 255, 255, 0.3);
  --works-description-bg-color: rgba(47, 48, 58, 0.8);
  --card-fill-color: rgba(33, 150, 243, 0.9);

  /* animation */
  --anim-fast: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --anim-slow: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  margin: 0;
}
html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
address {
  font-style: normal;
}
input,
textarea {
  outline: none;
}
/* List */
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.section.no-padding {
  padding-top: 0;
}
/* Logo */
.header-logo {
  display: flex;
  align-items: center;
  margin-right: 93px;

  color: var(--logo-color);
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.accent {
  color: var(--accent-color);
}
/* Page-header */
.page-header {
  background-color: var(--primary-white-color);
  border: 1px solid #ececec;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.display-header {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
}
/* Site nav */
.site-nav {
  display: flex;
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}
.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: currentColor;
  position: relative;

  transition: color var(--anim-fast);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
.link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;

  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);

  transition: color var(--anim-fast);
}
/* Header contacts */
.contacts-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}
.contacts-nav .item + .item {
  margin-left: 30px;
}

.contacts-nav .contacts-link {
  display: block;
  gap: 10px;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--paragraph-text-color);

  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-style: normal;

  transition: color var(--anim-fast);
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}
.primary-icon {
  align-self: center;
  fill: currentColor;

  transition: fill var(--anim-fast);
}
.contacts-nav .link {
  display: flex;
  position: relative;
}
/* Section */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section.title {
  background-color: var(--title-backroung-color);
  padding-top: 200px;
  padding-bottom: 200px;
  height: 600px;
  max-width: 1600px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/Img_title.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* Studio Hero */
.title-header {
  box-sizing: border-box;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 696px;
  height: 120px;
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;

  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}

.container-title {
  display: block;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.button-title {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 32px;
  border-radius: 4px;
  min-width: 216px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border: none;
  transition: color var(--anim-fast), background-color var(--anim-fast);
}
.button-title:hover,
.button-title:focus {
  background-color: var(--studio-background-color);
  color: var(--primary-text-color);
}

/* Modal window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity var(--anim-fast);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  min-width: 528px;
  min-height: 581px;
  top: 50%;
  left: 50%;

  padding: 8px;

  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);

  animation: heartBeat 1000ms ease-in-out 200ms;
}

.backdrop.is-hidden .modal {
  animation-play-state: paused;
}
.backdrop-btn {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-30%, 30%);
  width: 30px;
  height: 30px;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  color: var(--logo-color);
  background-color: var(--primary-white-color);
  outline: 1px solid rgba(0, 0, 0, 0.1);

  border-radius: 50%;
  border: none;
  cursor: pointer;

  transition: color var(--anim-fast);
}
.backdrop-btn:hover,
.backdrop-btn:focus {
  color: var(--primary-white-color);
  background-color: var(--logo-color);
}
.icon-close {
  fill: currentColor;
  background-color: transparent;
}

/* Form modal */
.form {
  width: 528px;
  height: 581px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
}
.form-field {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.modal-title {
  margin-bottom: 12px;
  text-align: center;
  font-style: bold;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 3%;
}
.form-label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 1%;
  color: var(--paragraph-text-color);
  margin-bottom: 4px;
}

.form-field input {
  margin: 0;
  padding: 12px 40px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}
.form-field-comment {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}
.comment {
  margin: 0;
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}
.comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 1%;
}
.comment:focus {
  border-color: var(--accent-color);
}
.button-modal {
  display: block;
  padding: 10px 52px;
  border-radius: 4px;
  min-width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;

  letter-spacing: 0.06em;
  border: none;

  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: color var(--anim-fast), background-color var(--anim-fast),
    box-shadow var(--anim-fast);
}

.button-modal:hover,
.button-modal:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.form-input:focus {
  border-color: var(--accent-color);
}
.form-icon {
  position: absolute;
  top: 55%;
  left: 14px;

  display: inline-block;
}
.form-icon-first {
  position: absolute;
  top: 70%;
  left: 14px;

  display: inline-block;
}
.form-input:focus ~ .form-icon {
  fill: var(--accent-color);
}
.form-input:focus ~ .form-icon-first {
  fill: var(--accent-color);
}
.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  position: absolute;
}
.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 9px;
  border-radius: 2px;
}
.field {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.checkbox:checked + .checkbox-icon {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  fill: var(--accent-color);
  background-image: url(../images/svg/Check-it.svg);
  background-size: contain;
  background-origin: border-box;
}
.terms-text {
  line-height: 1.71;
  color: var(--paragraph-text-color);
}
.terms-link {
  color: var(--accent-color);
  text-decoration: underline;
}
/* Features */
.features-list {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
}
.features-list .item {
  width: 270px;
}
.features-list .item + .item {
  margin-left: 30px;
}
.features-title {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 0;
}
.features-paragraph {
  color: var(--paragraph-text-color);
  line-height: 1.71;
  margin-top: 0;
  margin-bottom: 0;
}
.container-features {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.icon-list {
  display: flex;
  text-align: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--item-backgroung-color);
  background-size: 70px;
}
.icon-item {
  display: flex;
  align-self: center;
}
/* Works */
.works-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}
.container-works {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.works-list {
  display: flex;
  flex-wrap: wrap;
}
.works-images {
  width: calc((100% - 2 * 30px) / 3);
}
.works-images:not(:nth-child(3n)) {
  margin-right: 30px;
}
.works-descriprion {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 70px;

  background-color: var(--works-description-bg-color);
  color: var(--primary-white-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  position: absolute;
  bottom: 0;
  right: 0;
}
.works-images {
  position: relative;
  z-index: 1;
}
.works-paragraph {
  display: flex;
  align-self: center;
}
/* Team */
.team {
  background-color: var(--studio-background-color);
}
.team-title {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.team-paragraph {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 16px;

  color: var(--paragraph-text-color);

  font-size: 16px;
  line-height: 1.18;
}
.container-team {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.team-index {
  display: flex;
  flex-wrap: wrap;
}
.team-index .item {
  width: calc((100% - 3 * 30px) / 4);
  display: inline-block;

  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-index .item:not(:nth-child(4n)) {
  margin-right: 30px;
}
.team-description {
  padding-top: 30px;
  padding-bottom: 30px;
}
.social {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.social-items {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  margin-right: 10px;

  background-color: var(--primary-white-color);

  text-decoration: none;
  border-radius: 50%;
  cursor: pointer;
  color: var(--icon-primary-color);

  transition: color var(--anim-fast), background-color var(--anim-fast);
}
.social-items:hover,
.social-items:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}
.social-items .social-icon {
  display: flex;
  fill: currentColor;
  width: 20px;
  height: 20px;
}
/* Portfolio */
.portfolio {
  display: flex;
  flex-wrap: wrap;
}
/* .card::before {
  display: inline-block;
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--card-fill-color);
  position: absolute;

  transform: scaleX(0);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  transform: translateY(+100%);
  transition: transform 1500ms;
}
.card:hover::before {
  opacity: 1;
  transform: scaleX(1);
  transform: translateY(0%);
}
.card {
  position: relative;
  overflow: hidden;
}
.card-paragraph {
  position: absolute;

  margin: 0;
  padding: 64px 24px;

  color: var(--primary-white-color);

  font-size: 18px;
  line-height: 1.55;
  align-items: left;
  vertical-align: top;
  letter-spacing: 3%;
  opacity: 0;
}
.card-paragraph:hover {
  opacity: 1;
} */
.card-img {
  position: relative;
  overflow: hidden;
}

.card-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 64px 24px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-size: 18px;
  line-height: 1.55;
  vertical-align: top;
  letter-spacing: 3%;
  color: var(--primary-white-color);
  background-color: var(--card-fill-color);

  transform: translateY(100%);
  transition: transform var(--anim-fast);
}

.portfolio-item:hover .card-wrap,
.portfolio-item:focus .card-wrap {
  transform: translateY(0);
}

.portfolio-item {
  width: calc((100% - 2 * 30px) / 3);
}
.portfolio-description {
  padding: 20px 24px;
  border-right: 1px solid var(--portfolio-item-border);
  border-bottom: 1px solid var(--portfolio-item-border);
  border-left: 1px solid var(--portfolio-item-border);
}
.portfolio-item:not(:nth-child(3n)) {
  margin-right: 30px;
}
.portfolio-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}
.primary-title {
  visibility: hidden;
  margin: 0;
  font-size: 0;
  margin-block: 0;
}
.portfolio-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-paragraph {
  color: var(--paragraph-text-color);
  font-size: 16px;
  line-height: 1.87;
}
.block {
  display: block;
  transition: box-shadow var(--anim-fast);
}
.block:hover,
.block:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
/* Button */
.buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.buttons .buttons-list + .buttons-list {
  margin-left: 8px;
}
.buttons-list {
  display: inline-block;
}
.button-item {
  color: var(--primary-text-color);
  background-color: var(--studio-background-color);
  border-radius: 4px;
  padding: 6px 25px;
  min-width: 73px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
  align-items: center;
  border: none;

  transition: color var(--anim-fast), background-color var(--anim-fast),
    box-shadow var(--anim-fast);
}
.button-item:hover,
.button-item:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
/* Clients */
.clients-list {
  display: flex;
  justify-content: space-between;
}
.clients-item {
  display: flex;
  justify-content: center;
  text-align: center;
  min-width: 170px;
  height: 92px;

  color: var(--icon-primary-color);
  border: 1px solid var(--icon-primary-color);
  border-radius: 4px;
  cursor: pointer;

  transition: border var(--anim-fast);
}
.clients-icon {
  fill: currentColor;
  align-self: center;
  transition: color var(--anim-fast);
}
.clients-item:hover,
.clients-item:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

/* Footer */
.footer {
  background-color: var(--footer-backgroung-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-logo {
  color: var(--primary-white-color);
  text-decoration: none;
  font-family: raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  margin-bottom: 20px;
}
.address-hyperlink {
  color: var(--primary-white-color);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
  margin-bottom: 9px;
  transition: color var(--anim-fast);
}
.address-hyperlink:hover,
.address-hyperlink:focus {
  color: var(--accent-color);
}
.address-link {
  color: var(--address-link);
  text-decoration: none;
  line-height: 1.7;
  font-style: normal;
  margin-bottom: 9px;
  transition: color var(--anim-fast);
}
.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}
/* Social networks */
.footer-container {
  display: flex;
}
.social-container {
  margin-top: 12px;
  margin-left: 70px;
}
.social-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
.social-item-footer {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  margin-top: 16px;

  color: var(--primary-white-color);
  background-color: var(--social-item-footer);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color var(--anim-fast);
}
.social-item-footer:not(:nth-child(4n)) {
  margin-right: 10px;
}
.social-item-footer:hover,
.social-item-footer:focus {
  background-color: var(--accent-color);
}
.item-icon {
  align-self: center;
  display: flex;
  fill: currentColor;
  width: 20px;
  height: 20px;
}

/* Form Footer */
.join-container {
  margin-left: 93px;
  margin-top: 12px;
}
.form-footer {
  width: 570px;
  padding: 0;
  margin: 0;
  margin-top: 20px;
}
.button-sign {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px 28px;
  border-radius: 4px;
  min-width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  margin-left: 8px;
  gap: 10px;
  border: none;

  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: color var(--anim-fast), background-color var(--anim-fast),
    box-shadow var(--anim-fast);
}

.button-sign:hover,
.button-sign:focus {
  background-color: var(--primary-white-color);
  color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.join-container input {
  margin: 0;
  padding: 15px 16px;
  width: 358px;
  border: 1px solid var(--footer-label-color);
  border-radius: 4px;
}

.join-container::placeholder input {
  font-size: 16px;
  line-height: 1.25;
  vertical-align: center;
  letter-spacing: 0.03em;
  color: var(--footer-label-color);
}
.social-input {
  background-color: var(--footer-backgroung-color);
  color: var(--primary-white-color);
}
.social-input:hover,
.social-input:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}
.join-container::placeholder input:hover {
  color: var(--accent-color);
}
/* Animation */
@keyframes heartBeat {
  0% {
    transform: translate(-50%, -50%);
  }

  20% {
    transform: translate(-50%, -50%) scale(1);
  }

  40% {
    transform: translate(-50%, -50%) scale(0.9);
  }

  60% {
    transform: translate(-50%, -50%) scale(1);
  }

  80% {
    transform: translate(-50%, -50%) scale(0.9);
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
