/* Features */
.features-list {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
}
.features-list .item {
  width: 270px;
}
.features-list .item + .item {
  margin-left: 30px;
}
.features-title {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 0;
}
.features-paragraph {
  color: var(--paragraph-text-color);
  line-height: 1.71;
  margin-top: 0;
  margin-bottom: 0;
}
.container-features {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.icon-list {
  display: flex;
  text-align: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--item-backgroung-color);
  background-size: 70px;
}
.icon-item {
  display: flex;
  align-self: center;
}
