/* Footer */
.footer {
  background-color: var(--footer-backgroung-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__container {
  display: flex;
}
.footer__logo {
  color: var(--accent-color);
  text-decoration: none;
  font-family: raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  margin-bottom: 20px;
}
.logo__part--light {
  color: var(--primary-white-color);
}
.address__hyperlink {
  color: var(--primary-white-color);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
  margin-bottom: 9px;
  transition: color var(--anim-fast);
}
.address__hyperlink:hover,
.address__hyperlink:focus {
  color: var(--accent-color);
}
.address__link {
  color: var(--address-link);
  text-decoration: none;
  line-height: 1.7;
  font-style: normal;
  margin-bottom: 9px;
  transition: color var(--anim-fast);
}
.address__link:hover,
.address__link:focus {
  color: var(--accent-color);
}
.footer__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
